.navbar {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: black;
  position: relative;
  top: 20px;
}

.navbar li {
  margin: 0 10px;
  font-size: 25px;
}

.navbar li a {
  text-decoration: none;
  color: #fff7f7;
}

.navbar li a:hover {
  color: #f00;
}
