.top-bar {
    background-color: black;
    display: flex;
    justify-content: space-between;
  }
  
  .left-links {
    align-self: flex-start;
    font-size: 23px;
    color: black;
  }
  
  .center-link {
    align-self: center;
    font-size: 20px;
  }
  
  .right-link {
    align-self: flex-end;
    font-size: 20px;
  }

  .upcoming{
    justify-content: center;
  }
  